/* Forzamos la cuadrícula para que los productos se acomoden perfectamente */
.producto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    padding: 10px;
}

.filtros-simples {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.filtros-simples select, .filtros-simples input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}