<div class="container-inicio">
    <!--Novedades-->
    <section class="novedades">
        <div class="novedades-contenido">
            <h1>¡Descubre lo mas nuevo de DMari!</h1>
            <div class="novedades-etiqueta">
                <div class="etiqueta">Hola</div>
                <div class="etiqueta">Adios</div>
                <div class="etiqueta">Como estan</div>
            </div>
        </div>
    </section>
    <!--Seccion de destacado-->
    <section class="destacados">
        <h1>Destacado</h1>
        <!--El grid o template que va a tener todos los productos-->
        <div id="contenedor-producto" class="producto-grid">
            <!-- javascript inyectara los destacados aqui -->
        </div>
    </section>
    <!--Seccion con velas y donas-->
    <!--DOnas-->
    <section class="donas">
        <h1>Donas</h1>
        <div id="contenedor-donas" class="producto-grid">
            <!-- javascript inyectara las donas aqui -->
        </div>
    </section>
    <!--Velas-->
    <section class="velas">
        <h1>Velas</h1>
        <div id="contenedor-velas" class="producto-grid">
            <!-- javascript inyectara las velas aqui -->
        </div>
    </section>
</div>