<div class="contenedor-registro">
    <form class="formulario-registro">
        <h2>Crear cuenta</h2>
        <p>Registrate para comprar tus donas y velas favoritas</p>

        <div class="grupo-entrada">
            <label>Nombre</label>
            <input type="text" id="reg-nombre" placeholder="Ej: juan">
        </div>

        <div class="grupo-entrada">
            <label>Apellido</label>
            <input type="text" id="reg-apellido" placeholder="Ej: perez">
        </div>

        <div class="grupo-entrada">
            <label>Correo electronico</label>
            <input type="email" id="reg-correo" placeholder="usuario@gmail.com">
        </div>

        <div class="grupo-entrada">
            <label>Contraseña</label>
            <input type="password" id="reg-password" placeholder="********">
        </div>

        <button type="submit" class="btn-registro">Registrarse</button>
        
        <p class="footer-form">¿Ya tienes cuenta? <a href="#" id="link-ir-login">Inicia sesion</a></p>
    </form>
</div>