<section class="admin-vista-productos">
    <div class="admin-header-seccion">
        <h2>gestion de productos</h2>
        <button id="btn-nuevo-producto" class="btn-primario"><i class='bx bx-plus'></i> nuevo producto</button>
    </div>
    
    <div class="admin-tabla-contenedor">
        <table class="tabla-admin">
            <thead>
                <tr>
                    <th>id</th>
                    <th>imagen</th>
                    <th>nombre</th>
                    <th>precio</th>
                    <th>novedad</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody id="tabla-productos-body">
                <!-- aqui se inyectaran los productos con js -->
                <tr><td colspan="6" style="text-align:center;">cargando productos...</td></tr>
            </tbody>
        </table>
    </div>
</section>
