<div class="contenedor-registro">
    <form class="formulario-registro" id="form-login">
        <h2>Iniciar sesion</h2>
        <p>Ingresa para pedir tus donas y velas</p>

        <div class="grupo-entrada">
            <label>Correo electronico</label>
            <input type="email" id="login-correo" placeholder="usuario@gmail.com">
        </div>

        <div class="grupo-entrada">
            <label>Contraseña</label>
            <input type="password" id="login-password" placeholder="********">
        </div>

        <button type="submit" class="btn-registro">Ingresar</button>

        <!-- le ponemos id al enlace para capturarlo con js -->
        <p class="footer-form">¿No tienes cuenta? <a href="#" id="link-ir-registro">Registrate aqui</a></p>
    </form>
</div>