<div class="contenedor-registro">
    <form class="formulario-registro" id="form-login">
        <h2>iniciar sesion</h2>
        <p>ingresa para pedir tus donas y velas</p>

        <div class="grupo-entrada">
            <label>correo electronico</label>
            <input type="email" id="login-correo" placeholder="usuario@gmail.com">
        </div>

        <div class="grupo-entrada">
            <label>contrasena</label>
            <input type="password" id="login-password" placeholder="********">
        </div>

        <button type="submit" class="btn-registro">ingresar</button>

        <!-- le ponemos id al enlace para capturarlo con js -->
        <p class="footer-form">¿no tienes cuenta? <a href="#" id="link-ir-registro">registrate aqui</a></p>
    </form>
</div>