<nav class="admin-sidebar-menu">
    <button id="btn-prov-productos" class="admin-nav-item">
        <span class="material-symbols-outlined">inventory_2</span>
        <span>Mis Productos</span>
    </button>
    <button id="btn-prov-pedidos" class="admin-nav-item">
        <span class="material-symbols-outlined">shopping_bag</span>
        <span>Mis Pedidos</span>
    </button>
    <button id="btn-prov-estadistica" class="admin-nav-item">
        <span class="material-symbols-outlined">monitoring</span>
        <span>Estadísticas de Ventas</span>
    </button>
    <button id="btn-prov-categoria" class="admin-nav-item">
        <span class="material-symbols-outlined">category</span>
        <span>Solicitar Categoría</span>
    </button>
    
    <div class="admin-sidebar-divisor"></div>
    
    <button id="btn-nav-salir" class="admin-nav-item">
        <span class="material-symbols-outlined">logout</span>
        <span>Cerrar Sesión</span>
    </button>
</nav>