<div id="overlay-prov" class="overlay-sidebar"></div>
<div id="sidebar-proveedor" class="sidebar-container">
    <div class="sidebar-header">
        <h3>Panel de Proveedor</h3>
        <button id="btn-cerrar-prov" class="btn-icon">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
    
    <div class="sidebar-content">
        <div class="prov-item" data-go="proveedor-productos">
            <span class="material-symbols-outlined">inventory_2</span>
            <p>Mis Productos</p>
        </div>
        <div class="prov-item" data-go="proveedor-pedidos">
            <span class="material-symbols-outlined">shopping_bag</span>
            <p>Mis Pedidos</p>
        </div>
        <div class="prov-item" data-go="proveedor-estadistica">
            <span class="material-symbols-outlined">monitoring</span>
            <p>Estadísticas de Ventas</p>
        </div>
        <div class="prov-item" data-go="solicitar-categoria">
            <span class="material-symbols-outlined">category</span>
            <p>Solicitar Categoría</p>
        </div>
    </div>

    <!-- Pie de página del sidebar para el botón de logout -->
    <div class="sidebar-footer">
        <button id="btn-cerrar-sesion" class="prov-item" style="color: #ff4d4d; width: 100%;">
            <span class="material-symbols-outlined">logout</span>
            <p>Cerrar Sesión</p>
        </button>
    </div>
</div>