<nav class="admin-sidebar-menu">
    <!-- Boton para ir a la vista del inventario propio -->
    <button id="btn-prov-productos" class="admin-nav-item activo">
        <i class='bx bx-box'></i>
        <span>Mis Productos</span>
    </button>
    
    <!-- Boton para revisar los pedidos donde compraron sus productos -->
    <button id="btn-prov-pedidos" class="admin-nav-item">
        <i class='bx bx-receipt'></i>
        <span>Mis Pedidos</span>
    </button>
    
    <div class="admin-sidebar-divisor"></div>
    <button id="btn-nav-salir" class="admin-nav-item">
        <i class='bx bx-log-out'></i>
        <span>Cerrar Sesion</span>
    </button>
</nav>