<footer class="pie-pagina">
    <div class="footer-contenido">
        <div class="footer-info">
            <h4>CONOCENOS</h4>
            <p>D.Mari desea que los momentos sean disfrutables con conjuntos de donas, acompañantes perfectos para endulzar tu vida.</p>
        </div>

        <div class="footer-redes">
            <h4>REDES SOCIALES</h4>
            <div class="iconos-redes">
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-facebook-square'></i>
                <i class='bx bxl-whatsapp'></i>
            </div>
        </div>
    </div>
</footer>