<!-- fondo oscuro para cuando se abre el carrito -->
<div class="overlay-carrito" id="overlay-carrito"></div>

<!-- la barra lateral -->
<aside class="sidebar-carrito" id="sidebar-carrito">
    <div class="sidebar-header">
        <h2>Tu carrito</h2>
        <!-- boton con icono X para cerrar -->
        <button id="btn-cerrar-carrito" class="btn-cerrar"><i class='bx bx-x'></i></button>
    </div>
    
    <div class="sidebar-body" id="items-carrito">
        <!-- Se inyectara este carro -->
        <p class="carrito-vacio">Tu carrito esta vacio.</p>
    </div>
    
    <div class="sidebar-footer">
        <h3>total: <span id="total-carrito">$0</span></h3>
        <button class="btn-pagar">Proceder al pago</button>
    </div>
</aside>