/* archivo para el layout grid para la vista cliente */

* {
    box-sizing: border-box; /* esto arregla el desbordamiento del header de forma global */
}

.layout-container{
    display:grid;

    /* definir areas para ubicar header, main y footer */
    grid-template-areas: 
    "header"
    "main"
    "footer";
    /* header y footer se ajustan automaticamente */
    grid-template-rows: auto 1fr auto;
    /* para ubicar al footer siempre abajo de la pagina */
    min-height: 100vh;
    /* el espaciado entre header, main y footer */
    gap: 20px;
}

.main-header{
    grid-area: header;
    display: flex;
    /* espacio entre los items distribuidos */
    justify-content: space-between;
    /* centrado verticalmente */
    align-items: center;
}

.main{
    grid-area: main;
}

.main-footer{
    grid-area:footer;
}
