/*Archivo para el layout grid para la vista cliente*/

.layout-container{
    display:grid;

    /* Definir areas para ubicar header, main y footer */
    grid-template-areas: 
    "header"
    "main"
    "footer";
    /* Header y footer se ajustan automaticamente */
    grid-template-rows: auto 1fr auto;
    /* Para ubicar al footer siempre abajo de la pagina*/
    min-height: 100vh;
    /*El espaciado entre header, main y footer*/
    gap: 20px;
}

.main-header{
    grid-area: header;
    display: flex;
    /* Espacio entre los items distribuidos */
    justify-content: space-between;
    /* Centrado verticalmente */
    align-items: center;
}

.main{
    grid-area: main;
}

.main-footer{
    grid-area:footer;
}
