<!--Parte izquierda del header-->
<div class="header-navegacion">
    <!-- Componentes que se cargaran -->
    <!--
    RECORDATORIO
    No es necesario aplicar estilos a este html, es necesario aplicarle
    al archivo como index.html, lo tomara como parte de el.
    -->
    <!--LOGO-->
    <div class="header-logo" id="component-logo">
        <img src="../../../public/logo/logo_Dmari.png" alt="DMari">
    </div>
    <!--Parte de categoria-->
    <div class="header-categoria">
    <button class="btn-categoria">
        <span class="material-symbols-outlined">menu</span>
        <span class="btn-text">Categoria</span>
    </button>
    </div>
</div>
<!--Parte derecha del header-->
<div class="header-accion">
    <!--ICONO USUARIO-->
    <!--Type button para no sea un submit-->
    <button class="btn-usuario" type="button">
        <span class="material-symbols-outlined">account_circle</span>
    </button>
    <!--CARRITO-->
    <button class="btn-carrito" type="button">
        <span class="material-symbols-outlined">shopping_cart</span>
    </button>
</div>