<!-- vista universal para gestionar pedidos tanto para administrador como para proveedor -->
<section class="admin-vista-productos">
    <div class="admin-header-seccion">
        <h2>Gestion y despacho de pedidos</h2>
    </div>
    
    <!-- aqui se inyectaran los bloques de pedidos agrupados mediante javascript -->
    <div id="contenedor-lista-pedidos" class="admin-tabla-contenedor" style="padding: 20px; background: transparent; border: none; box-shadow: none;">
        <p style="text-align:center;">Cargando pedidos pendientes...</p>
    </div>
</section>
